@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
:root {
  --clr-black: hsl(0,0%,0%);
  --clr-white: hsl(0,0%,100%);
  --clr-gray: hsl(0,0%,63%);
  --clr-darkgray: hsl(0, 0%, 27%);
}

:root {
  font-family: "Spartan";
  font-weight: 500;
  font-size: 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: none;
}
.nav-list {
  display: flex;
  gap: 1.5em;
}
.nav-list .nav-element {
  font-weight: 600;
}

.navbar {
  width: 100%;
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 3em 2em;
}
.navbar .toggle-navbar {
  position: absolute;
  top: 3em;
  left: 2em;
}
.navbar .toggle-navbar img:first-child {
  display: inline;
}
.navbar .toggle-navbar img:last-child {
  display: none;
}
.navbar .logo {
  display: inline;
}

.navbar.navbar--show {
  position: fixed;
  justify-content: flex-end;
  background-color: white;
}
.navbar.navbar--show .toggle-navbar img:first-child {
  display: none;
}
.navbar.navbar--show .toggle-navbar img:last-child {
  display: inline;
}
.navbar.navbar--show .logo {
  display: none;
}
.navbar.navbar--show .nav {
  display: block;
}

.slide {
  min-height: 360px;
  background-image: url("../../public/images/slide/mobile-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slide-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}
.slide-btn div {
  padding: 0.95em 1.35em;
  background-color: black;
}

.intro {
  padding: 4em 2em;
}
.intro h1 {
  font-size: 1.75rem;
  font-weight: 600;
}
.intro p {
  font-size: 0.78rem;
  font-weight: 500;
  color: var(--clr-gray);
}

.arrow-btn {
  margin-top: 3em;
  display: flex;
  gap: 2.5em;
}
.arrow-btn span {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--clr-darkgray);
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.illustration-dark {
  width: 100%;
}

.illustration-light {
  width: 100%;
}

.about {
  padding: 4em 2em;
}
.about h2 {
  font-size: 1rem;
  letter-spacing: 3px;
}
.about p {
  font-size: 0.78rem;
  font-weight: 500;
  color: var(--clr-gray);
}

@media only screen and (min-width: 1200px) {
  .main-grid {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.35fr 1fr;
    grid-template-rows: 1.8fr 1fr;
    grid-template-areas: "slide slide intro intro" "dark about about light";
  }

  .navbar {
    justify-content: flex-start;
    background-color: transparent;
    padding: 4em;
    gap: 3em;
  }
  .navbar .toggle-navbar {
    display: none;
  }
  .navbar .logo {
    display: inline;
    align-self: center;
  }
  .navbar .nav {
    display: block;
  }
  .navbar .nav .nav-element {
    position: relative;
    color: white;
  }
  .navbar .nav .nav-element::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -12px;
    left: 25%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  .navbar .nav .nav-element:hover {
    cursor: pointer;
  }
  .navbar .nav .nav-element:hover:hover::after {
    transform: scale(1);
  }

  .slide {
    grid-area: slide;
  }
  .slide-btn {
    transform: translate(100%);
    width: 10.5vw;
  }
  .slide-btn div {
    width: 50%;
    height: 100%;
    padding: 1.5em 2em;
    display: grid;
    place-content: center;
  }
  .slide-btn div:hover {
    cursor: pointer;
    background-color: var(--clr-darkgray);
  }

  .intro {
    grid-area: intro;
    padding: 6em;
    padding-right: 5em;
  }
  .intro h1 {
    margin-top: 0;
    font-size: 2.5rem;
  }
  .intro p {
    font-size: 0.8rem;
    line-height: 1.5em;
  }

  .arrow-btn {
    margin-top: 2em;
  }

  .arrow-btn:hover {
    cursor: pointer;
  }
  .arrow-btn:hover span {
    color: var(--clr-gray);
  }
  .arrow-btn:hover svg > path {
    fill: var(--clr-gray);
  }

  .about {
    padding: 4em 3em;
  }
  .about p {
    font-size: 0.76em;
    line-height: 1.5em;
  }

  .illustration-dark {
    grid-area: dark;
    object-fit: cover;
    align-self: stretch;
  }

  .illustration-light {
    grid-area: light;
    object-fit: cover;
    align-self: stretch;
  }

  .about {
    grid-area: about;
  }
}
