@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
:root {
  --clr-black: hsl(0,0%,0%);
  --clr-white: hsl(0,0%,100%);
  --clr-gray: hsl(0,0%,63%);
  --clr-darkgray: hsl(0, 0%, 27%);
}

:root {
  font-family: "Spartan";
  font-weight: 500;
  font-size: 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: none;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5em;
}
.nav ul li {
  font-weight: 600;
}

.navbar {
  width: 100%;
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 3em 2em;
}
.navbar .toggle-navbar {
  position: absolute;
  top: 3em;
  left: 2em;
}
.navbar .toggle-navbar img:first-child {
  display: inline;
}
.navbar .toggle-navbar img:last-child {
  display: none;
}
.navbar .logo {
  display: inline;
}

.navbar.navbar--show {
  position: fixed;
  justify-content: flex-end;
  background-color: white;
}
.navbar.navbar--show .toggle-navbar img:first-child {
  display: none;
}
.navbar.navbar--show .toggle-navbar img:last-child {
  display: inline;
}
.navbar.navbar--show .logo {
  display: none;
}
.navbar.navbar--show .nav {
  display: block;
}

.slide {
  min-height: 360px;
  background-image: url("../../public/images/slide/mobile-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slide-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}
.slide-btn div {
  padding: 0.95em 1.35em;
  background-color: black;
}
